My version of this thing

In [1]:
import pandas as pd
data_df = pd.read_csv('data/hourly_wages.csv')

In [2]:
data_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [3]:
target = data_df.wage_per_hour.as_matrix()

In [4]:
predictors = data_df.drop(['wage_per_hour'], axis=1).as_matrix()
print(predictors.shape)
print(data_df.shape)

(534, 9)
(534, 10)

In [5]:
n_cols = predictors.shape[1]
print(n_cols)

9

In [6]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [13]:
# Specify the model
model = Sequential()
model.add(Dense(5000, activation='relu', input_shape=[n_cols,]))
model.add(Dense(5000 ,activation='relu'))
model.add(Dense(5000 ,activation='relu'))
model.add(Dense(5000 ,activation='relu'))
model.add(Dense(5000 ,activation='relu'))
model.add(Dense(8000 ,activation='relu'))
model.add(Dense(1))
model.summary()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
dense_16 (Dense)                 (None, 5000)          50000       dense_input_4[0][0]
____________________________________________________________________________________________________
dense_17 (Dense)                 (None, 5000)          25005000    dense_16[0][0]
____________________________________________________________________________________________________
dense_18 (Dense)                 (None, 5000)          25005000    dense_17[0][0]
____________________________________________________________________________________________________
dense_19 (Dense)                 (None, 5000)          25005000    dense_18[0][0]
____________________________________________________________________________________________________
dense_20 (Dense)                 (None, 5000)          25005000    dense_19[0][0]
____________________________________________________________________________________________________
dense_21 (Dense)                 (None, 8000)          40008000    dense_20[0][0]
____________________________________________________________________________________________________
dense_22 (Dense)                 (None, 1)             8001        dense_21[0][0]
====================================================================================================
Total params: 140,086,001
Trainable params: 140,086,001
Non-trainable params: 0
____________________________________________________________________________________________________

In [14]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')
# Fit
model.fit(predictors, target, validation_split=0.2)

Train on 427 samples, validate on 107 samples
Epoch 1/10
427/427 [==============================] - 37s - loss: 8345.3053 - val_loss: 59.3542
Epoch 2/10
427/427 [==============================] - 35s - loss: 23.4694 - val_loss: 45.5492
Epoch 3/10
427/427 [==============================] - 34s - loss: 26.2934 - val_loss: 37.3138
Epoch 4/10
427/427 [==============================] - 36s - loss: 22.7258 - val_loss: 47.4522
Epoch 5/10
427/427 [==============================] - 34s - loss: 21.1507 - val_loss: 29.1450
Epoch 6/10
427/427 [==============================] - 34s - loss: 23.2184 - val_loss: 33.9905
Epoch 7/10
427/427 [==============================] - 34s - loss: 30.4330 - val_loss: 49.3886
Epoch 8/10
427/427 [==============================] - 34s - loss: 20.3621 - val_loss: 27.2985
Epoch 9/10
427/427 [==============================] - 34s - loss: 19.3887 - val_loss: 36.5776
Epoch 10/10
427/427 [==============================] - 34s - loss: 19.5292 - val_loss: 32.2031