My version of this thing

In [1]:
import pandas as pd
data_df = pd.read_csv('data/hourly_wages.csv')

In [2]:
data_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [3]:
target = data_df.wage_per_hour.as_matrix()

In [4]:
predictors = data_df.drop(['wage_per_hour'], axis=1).as_matrix()
print(predictors.shape)
print(data_df.shape)

(534, 9)
(534, 10)

In [5]:
n_cols = predictors.shape[1]
print(n_cols)

9

In [6]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [7]:
# Specify the model
model = Sequential()
model.add(Dense(300, activation='relu', input_shape=[n_cols,]))
model.add(Dense(300 ,activation='relu'))
model.add(Dense(400 ,activation='relu'))
model.add(Dense(1))
model.summary()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
dense_1 (Dense)                  (None, 300)           3000        dense_input_1[0][0]
____________________________________________________________________________________________________
dense_2 (Dense)                  (None, 300)           90300       dense_1[0][0]
____________________________________________________________________________________________________
dense_3 (Dense)                  (None, 400)           120400      dense_2[0][0]
____________________________________________________________________________________________________
dense_4 (Dense)                  (None, 1)             401         dense_3[0][0]
====================================================================================================
Total params: 214,101
Trainable params: 214,101
Non-trainable params: 0
____________________________________________________________________________________________________

In [8]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')
# Fit
model.fit(predictors, target, validation_split=0.2)

Train on 427 samples, validate on 107 samples
Epoch 1/10
427/427 [==============================] - 0s - loss: 30.8609 - val_loss: 28.0399
Epoch 2/10
427/427 [==============================] - 0s - loss: 21.5197 - val_loss: 30.3090
Epoch 3/10
427/427 [==============================] - 0s - loss: 19.8690 - val_loss: 28.0166
Epoch 4/10
427/427 [==============================] - 0s - loss: 19.5151 - val_loss: 33.3135
Epoch 5/10
427/427 [==============================] - 0s - loss: 18.9372 - val_loss: 32.7109
Epoch 6/10
427/427 [==============================] - 0s - loss: 18.8006 - val_loss: 30.1739
Epoch 7/10
427/427 [==============================] - 0s - loss: 19.2569 - val_loss: 31.7386
Epoch 8/10
427/427 [==============================] - 0s - loss: 18.7565 - val_loss: 30.1355
Epoch 9/10
427/427 [==============================] - 0s - loss: 18.3256 - val_loss: 28.1534
Epoch 10/10
427/427 [==============================] - 0s - loss: 18.4406 - val_loss: 28.9818